* {
  background-color: beige;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.timer {
  position: relative;
  right: 40px;
}

/* start screen */
.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* quiz game */
/* .quiz-game {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.response1,
.response2,
.response3,
.response4,
.response5{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 25px;
  background-color: aqua;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.q1,
.q2,
.q3,
.q4,
.q5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* quiz finish screen */
.quiz-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* highscore screen */
.highscore-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highscore-redirect:hover,
.start-btn,
.submit-btn,
.return-home,
.clear-scores {
  cursor: pointer;
}